.q-btn{
    border-radius: 10px;
}
.q-field__control{
    border-radius: 10px !important;
}
.popup{
    background-color: white;
    border-radius: 15px !important;
}
.cliquable{
    cursor: pointer;
    color: $primary;
}